.flex-categoria-producto {
  display: flex;
  justify-content: center;
  width: 100%;
}

.flex-producto {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 76%;
  box-shadow: inset 0px 0px 5px 1px var(--oscuro);
  border-radius: 10px;
  height: 78vh;
  overflow: auto;
  background-color: var(--fondo1);
}

.flex-producto .card {
  height: 280px;
} 

.flex-categoria {
  display: flex;
  flex-direction: column;
  width: 20%;
}

.btn-categoria {
  background-color: #ffffff;
  padding: 10px 50px;
  margin-bottom: 15px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.btn-categoria:hover {
  background-color: var(--claro);
  color: white;
}

.btn-categoria:focus {
  background-color: var(--claro);
  color: white;
}

.productos {
  width: 200px;
  margin: 16px;
}