/*-------------------------------------- Menu Superior ----------------------------------*/
.menuSuperior, .landingMenu__Superior {
    z-index: 2;
    position: fixed;
    top: 0;
    display: flex;
    width: 100%;
    height: 68px;
    background-color: var(--oscuro);
    color: var(--blanco);
    justify-content: space-between;
    align-items: center;
    padding: 0 36px;
}

.menuSuperior h1 {
    margin: auto;
}

.menuSuperior .icon {
    height: 40px;
    border-radius: 8px;
    margin-right: 15px;
    background-color: var(--fondo1);
    padding: 4px;
}

.menuSuperior .icon:hover {
    background-color: var(--fondo3);
    cursor: pointer;
}

.logosMenu {
    display: flex;
}

.menu-logo,
.menu-user {
    border-radius: 4px;
    padding: 5px;
    display: flex;
    align-items: center;
    color: var(--blanco);
    background-color: transparent;
    border: none;
}

.menu-logo{
    position: absolute;
    right: calc(50% - 51px);
}

.menu-user p {
    margin: auto;
}

.menu-logo img {
    height: 72px;
    border-radius: 50px;
    margin-right: 15px;
}

.menu-icon {
    border-radius: 16px;
    padding: 16px;
}

.menu-user:hover,
.menu-icon:hover,
.rigth-menu>ul li:hover {
    text-shadow: 1px 1px 2px var(--fondo1);
    cursor: pointer;
}

.nav-landing{
    position: initial;
}

/* Opciones del usuario */
.user-dropdown {
    background: var(--oscuro);
    width: -webkit-fill-available;
}

.user-dropdown a {
    color: var(--blanco);
}

.user-dropdown a:hover {
    text-shadow: 1px 1px 2px var(--fondo1);
    cursor: pointer;
    background: var(--oscuro);
    color: var(--blanco);
}

/*-------------------------------------- Menu lateral ----------------------------------*/
.menuLateral {
    z-index: 10;
    background-color: var(--oscuro);
    position: absolute;
    left: 0;
    top: 0;
    width: 200px;
    top: 68px;
    height: calc(100vh - 68px);
    transform: translateX(-100%);
    transition: .4s ease;
    display: flex;
    flex-direction: column;
}

.menuLateral__Opcion{
    display: flex;
    align-items: center;
}

.menuLateral__Opcion * {
    margin-left: 8px;
}

.menuLateral img {
    height: 40px;
    width: 40px;
}

.menuLateral a {
    font-weight: bold;
    color: var(--blanco);
    padding: 16px;
    width: -webkit-fill-available;
    text-decoration: none;
}

.menuLateral a:hover {
    background: var(--fondo1);
    color: var(--oscuro);
}

#menuHam {
    display: none;
}

#menuHam:checked~.menuLateral {
    transform:translateX(0);
}
