@import url('https://fonts.googleapis.com/css2?family=Sofia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sofia&family=Taviraj:wght@200&display=swap');

:root {
    --oscuro: #732F48;
    --medio: #8C274C;
    --claro: #F26B9C;
    --fondo1: #F6E0E3;
    --fondo2: #FDEBEB;
    --fondo3: #FDF5E7;
    --blanco: #ffffff;
    --gris: #f2f2f2;

}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Taviraj', serif;
    margin: 0;
    padding: 0;
}

h1,h2,h3 {
    font-family: 'Sofia', cursive;
    color: var(--oscuro);
    margin-bottom: 0;
    /* margin-bottom: revert; */
    /* margin: 20px 4px; */
}

a {
    text-decoration: none;
    color: #000000;
}

input {
    border: 1px solid var(--oscuro);
    outline: none;
}

input:focus {
    border: 1px solid var(--claro);
}

footer {
    background-color: var(--oscuro);
    color: var(--blanco);
}

.body {
    display: flex;
}

.pagina {
    width: 100%;
}

.noOverflow {
    overflow: hidden;
}

.contenido {
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 68px;
    height: calc(100vh - 68px);
}

/*-------------------------Menu Principal-----------------------------------*/
.opciones {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* max-width: 620px; */
}

.menuAdmin {
    max-width: 620px;
}

.btn_opciones {
    background-color: var(--fondo2);
    border-radius: 16px;
    cursor: pointer;
    /* padding: 16px; */
    margin: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    justify-content: flex-end;
    /* width: 248px; */
    /* height: 284px;*/
}

.btn_opciones a {
    padding: 16px 16px 0 16px;
}

.btn_opciones h2 {
    margin: 4px;
}

.btn_opciones:hover {
    background-color: var(--fondo1);
}

.btn_opciones img {
    height: 140px;
}

/* ------------------Scroll bar------------------- */
::-webkit-scrollbar {
    width: 4px;
}
 
::-webkit-scrollbar-track {
    background-color: var(--fondo1);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: var(--oscuro); 
}

/* Colors */
.color-oscuro{
    color: var(--oscuro);
}
.color-medio{
    color: var(--medio);
}
.color-claro{
    color: var(--claro);
}
.color-fondo1{
    color: var(--fondo1);
}
.color-fondo2{
    color: var(--fondo2);
}
.color-fondo3{
    color: var(--fondo3);
}
.color-black{
    color: black;
}


/* Backgrounds */
.bg-oscuro{
    background-color: var(oscuro);
}
.bg-medio{
    background-color: var(medio);
}
.bg-claro{
    background-color: var(claro);
}
.bg-fondo1{
    background-color: var(fondo1);
}
.bg-fondo2{
    background-color: var(fondo2);
}
.bg-fondo3{
    background-color: var(fondo3);
}

input:focus, textarea:focus {
    border-color: var(--fondo2) !important;
    box-shadow: 0 0 5px var(--fondo2) !important;
}